---
layout: default
---

<section class="gallery" aria-label="Work">
        {% if page.layout == 'post' and page.image %}
          <img class="cake-shot" src="{{ page.image }}" alt="{{ page.title }}" />
        {% elsif page.layout == 'default' %}
          {% assign latest_post = site.posts.first %}
          {% if latest_post.image %}
            <a href="{{ latest_post.url | relative_url }}">
              <img class="cake-shot" src="{{ latest_post.image }}" alt="{{ latest_post.title }}" />
            </a>
          {% else %}
            <img class="cake-shot" src="{{ site.default_image }}" alt="Erin Bakes" />
          {% endif %}
        {% else %}
          <img class="cake-shot" src="{{ site.default_image }}" alt="Erin Bakes" />
        {% endif %}
</section>