<div class="profile-text-bottom">
        <h1 class="name name-swap {% if page.category %}solo-{{ page.category }}{% endif %}">
          Erin
          <span class="last-wrap" aria-live="polite">
            {% if page.category == "bakes" %}
              <span class="last last-bakes accent">Bakes</span>
            {% elsif page.category == "travels" %}
              <span class="last last-travels accent">Travels</span>
            {% elsif page.category == "cooks" %}
              <span class="last last-cooks accent">Cooks</span>
            {% elsif page.category == "writes" %}
              <span class="last last-writes accent">Writes</span>
            {% else %}
              <span class="last last-boas">Boas</span>
              <span class="last last-bakes accent">Bakes</span>
              <span class="last last-travels accent">Travels</span>
              <span class="last last-cooks accent">Cooks</span>
              <span class="last last-writes accent">Writes</span>
            {% endif %}
          </span>
        </h1>

        <div class="email">contact@erinboas.com</div>
      </div>
    </div>

<div class="social-icons"> 
     <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
</svg> 

<svg style="margin-left: 5px;" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2h-1a2 2 0 0 0-2 2v7h-4v-14h4v2c.8-1.4 2.2-2 3-2z"/>
  <rect x="2" y="9" width="4" height="12"></rect>
  <circle cx="4" cy="4" r="2"></circle>
</svg>
</div>
     
     
     
     
     
     
     